#about {
  h1 {
    font-size: 25px;
  }
  img {
    height: 225px;
    width: 225px;
  }
  p {
    text-align: center;
    font-size: 16px;
    line-height: 1em;
  }
}

#lower-social {
  @include breakpoint(small-phone) {
    display: none;
  }
}

#upper-social {
  display: none;
  @include breakpoint(small-phone) {
    display: block;
    padding-bottom: 1em;
    font-size: 1em;
  }
}