//sticky-footer(72px);

$break-small: 640px;
$break-large: 1200px;

.light-grey {
  z-index:100;
  background: #dddddd;
}

.dark-grey {
  background: #999999;
}

.almost-black {
  background: #666666;
}

.big-guy {
  height: 10px;
}

.medium-guy {
  height: 5px;
}

.tiny-guy {
  height: 2.5px;
}


.meta-white {
  background-color: white;
  margin-top: -2em;
}

.shift-up-body {
  margin-bottom: 120px;
}

.center-vid {
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

#faust-video {
  @media screen and (max-width: $break-small) {
    height: 180px;
    width: 320px;
  }
  @media screen and (min-width: $break-large) {
    height: 360px;
    width: 640px;
  }
}
