#header-image {
  img {
    z-index: -1;
    position: fixed;
    width: 100%;
  }
  width: 100%;
}

img.buffer {
  opacity: 0;
  width:100%;
}

#header {
  z-index: 5;
}

#sticky-social {
  #instrument {
    z-index: -1;
    position: fixed;
    width: 100%;
    pointer-events: auto;
    margin-bottom: 3em;
  }
}