nav {
//  border-bottom: 1px solid gainsboro;
  margin-top: 0.4em;
  margin-bottom: 0.8em;

  a {
    color: $offBlack;
    text-decoration: none;

    &:hover {
      color: $offBlack;
      text-decoration: underline;
    }
  }
  &#social-links {
    &.is_stuck {
     background: rgba(255,255,255,0.99);
    }
    z-index: 2;
    background: white;
    padding-top: 0.4em;
    margin-top: -1px;
    margin-bottom: 0em;
    text-align: center;
    ul {
      margin-bottom: 10px;
      font-size: 1.5em;
    }
    li {
      margin-top: 0.0em;
      display: inline;
      padding-right: 1.7em;
      a {
        display: inline-block;
        text-decoration: none;
        color: #2A2A64;
      }
    }
  }
}

.name {
  float: left;
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
  padding: 10px 0;
}

.nav-links {
  margin: 0;
  list-style: none;
  float: right;
  font-size: 1.2em;
  padding: 12px 0 0;

  li {
    float: left;
    padding-right: 1.7em;
  }
}
