extends ../layouts/base

block seo
  link(rel="canonical", href="https://mylesborins.com/404.html")
  meta(name="robots", content="noindex,follow")

block head
  title= "404"

block content
  #about
    each post in posts
      if(post.type === "404")
        .post-body.markdown!= post.content
