extends ../layouts/base

block head
  title= "thealphanerd.io | about"

block content
  #about
    each post in posts
      if(post.type === "about")
        .post-body.markdown!= post.content
        
  
  nav.social-links.group.small
   ul.nav-links-social.show
     li.text-link
       a.icon-envelope(href="mailto:myles.borins@gmail.com")
     li.text-link
       a.icon-github3(href="https://www.github.com/thealphanerd")
     li.text-link
       a.icon-soundcloud(href="https://www.soundcloud.com/thealphanerd")
     li.text-link
       a.icon-linkedin(href="https://www.linkedin.com/in/thealphanerd")
     li.text-link
       a.icon-vimeo2(href="https://vimeo.com/thealphanerd")
     li.text-link
       a.icon-twitter2(href="https://www.twitter.com/thealphanerd")

