extends ../layouts/base

block seo
  link(rel="canonical", href="https://mylesborins.com/projects.html")

block head
  title= "MylesBorins.com | projects"

block content
  each post in posts
    if(post.type === "project")
      +postHead(post)

