#footer
  
  .tiny-guy.almost-black
  .medium-guy.dark-grey
  .big-guy.light-grey
  
  .center
    nav.group
      h1.name
        a(href="#{data.baseUrl}") Myles Borins
      ul.nav-links
        li.text-link
          a(href="#{data.baseUrl}about.html") about
        li.text-link
          a(href="#{data.baseUrl}projects.html") projects
        li.text-link
          a(href="#{data.baseUrl}archives.html") archives