#header
  #header-accent
    .big-guy.light-grey
    .medium-guy.dark-grey
    .tiny-guy.almost-black
- if (currentIndex === 0) {

#header-image
  img(src="/images/theremax.png", alt="Header image of flocking simulation")

img.buffer(src="/images/theremax.png", alt="This is a buffer image that can be ignored")

- } else if (post && post.bigImage) {
#header-image
  img(src=post.bigImage)

img.buffer(src=post.bigImage)

- }