script(src="/scripts/jquery.min.js")
script(src="/scripts/sticky-kit.min.js")
script(src="/scripts/main.js")
script(src="https://counterscale.smyle.workers.dev/tracker.js", id="counterscale-script", data-site-id="mylesborins.com", defer)
